@import "tailwindcss";

@font-face {  
    font-family: OpenDyslexic;  
    src: url("../src/fonts/OpenDyslexic-Regular.otf") format("opentype");
}

@font-face {  
    font-family: OpenDyslexic-bold;  
    src: url("../src/fonts/OpenDyslexic-Regular.otf") format("opentype");
}

@font-face {  
    font-family: OpenDyslexic-italic;  
    src: url("../src/fonts/OpenDyslexic-Regular.otf") format("opentype");
}

@font-face {  
    font-family: OpenDyslexic-bold-italic;  
    src: url("../src/fonts/OpenDyslexic-Regular.otf") format("opentype");
}

@theme { 
    --font-openDyslexic: "OpenDyslexic", "OpenDyslexic-bold", "OpenDyslexic-italic", "OpenDyslexic-bold-italic";
}